.dropdown{
  &__list{
    flex-direction: column;
  }

  &__item{
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 9px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    
    a{
      text-decoration: none;
      color: rgba(0,0,0,0.75);
      &:hover{
        text-decoration: underline;
      }
    }
  }

  &__toggle{
    @include reset-button;
    width: 100%;
    padding: 6px 0;
    font-size: 1rem;
    font-weight: 600;
    background-color: white;
    box-shadow: var(--shadow);
    margin-top: 10px;
    border-radius: 9px;
    cursor: pointer;
    
    &.hidden{
      position: sticky;
      bottom: 20px;
    }
  }
}
