.notification{
  @include notification-prompt;
  
  bottom: 30px;
  right: -100%;
  padding: 10px 20px;

  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.5px;
  transition: right 1s;
  animation: notificationAnimation 6s linear;
}

@keyframes notificationAnimation {
  15% {
    right: 15px;
  }

  50% {
    right: 15px;
  }

  100% {
    right: -100%;   
  }
}