.pokemon {
  width: 100%;
  box-shadow: var(--shadow);
  margin: 0 auto;

  &__pictures{
    position: relative;
    height: 115px;

    .pokemon-picture{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .pokemon-picture:nth-child(2){
      opacity: 1;
    }

    .pokemon-picture:nth-child(1){
      opacity: 0;
    }
  }

  &__pictures.on{
    .pokemon-picture:nth-child(2){
      opacity: 0;
    }

    .pokemon-picture:nth-child(1){
      opacity: 1;
    }
  }

  &__head{
    display: flex;
    justify-content: space-between;

    h3{
      width: fit-content;
      font-size: 0.8rem;
      font-weight: 100;
      letter-spacing: 0.5px;
      margin-left: 5px;
      margin-bottom: 5px;
    }
  }

  &__button{
    width: 100%;
    padding-block: 15px;
    text-align: center;
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    color: hsl(0deg 66% 36%);
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
  }

  ul{
    list-style: none;
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 auto;
  }
  
  &__types{
    justify-content: center;
    li{
      margin: 0 3px;
      padding: 3px 6px;
      border: 1px solid rgba(0,0,0,0.25);
      border-radius: 9px;
    }
  }
    
    &__details{
    justify-content: space-between;
    max-width: 200px;
    padding-bottom: 10px;
  }

  &__detail{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    margin-right: 10px;
    span{
      display: inline-block;
      font-weight: 600;
      letter-spacing: 0.5px;
      padding-top: 5px;
      color: var(--primary)
    }
  }

  &__name{
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    color: var(--primary)
  }

  &__profile{
    width: 100%;
    padding: 12px;
    text-align: center;
  }
}