.pokemon {
  width: 100%;
  box-shadow: var(--shadow);
  margin: 0 auto;

  &__head{

    h3{
      width: fit-content;
      font-size: 0.6rem;
      font-weight: 100;
      letter-spacing: 0.5px;
      margin-left: 5px;
      margin-bottom: 5px;
    }
  }

  &__switch{
    display: flex;
    align-items: center;
    width: 40px;
    height: 15px;
    border: 1px solid var(--primary);
    border-radius: 9px;

    label{
      position: relative;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--primary);
      display: block;
    }
  }

  &__switch.on{
    justify-content: flex-end;
    background-color: var(--contrast-color-bg);
    border: none;
    label{
      background-color: var(--contrast-color);
    }
  }

  &__button{
    width: 100%;
    padding-block: 15px;
    text-align: center;
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    color: hsl(0deg 66% 36%);
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
  }

  ul{
    list-style: none;
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 auto;
  }
  
  &__types{
    justify-content: center;
    li{
      margin: 0 3px;
      padding: 3px 6px;
      border: 1px solid rgba(0,0,0,0.25);
      border-radius: 9px;
    }
  }
    
    &__details{
    justify-content: space-between;
    max-width: 200px;
    padding-bottom: 10px;
  }

  &__detail{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    margin-right: 10px;
    span{
      display: inline-block;
      font-weight: 600;
      letter-spacing: 0.5px;
      padding-top: 5px;
      color: var(--primary)
    }
  }

  &__name{
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    color: var(--primary)
  }

  &__profile{
    width: 100%;
    padding: 12px;
    text-align: center;
  }
}