.pokemons-container{
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 230px;
  place-content: center;
  column-gap: 10px;
  row-gap: 15px;
  padding-block: 15px;
  
  @media screen and (min-width: 520px){
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
  }

  @media screen and (min-width: 750px){
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  @media screen and (min-width: 950px){
    grid-template-columns: repeat(4, 1fr);
  }
}