.pokemons{
  width: 100%;

  &-container{
    @include standard-grid;
  }

  &__error-msg{
    display: block;
    text-align: center;
    padding: 20px 0;
    color: var(--contrast-color);
  }
}

.visor{
  margin: 15px 0;
}
.visor.hidden{
  & > * {
    display: none;
  }
}