.home{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  &__head{
    padding: 10px 0;
  }
}

.pokemon-container{
  display: grid;
  grid-template-columns: 250px 250px 250px;
  gap: 20px;
  place-content: center;
}