.album{
  &__title{
    text-transform: capitalize;
    margin-bottom: 15px;
  }

  &__content{
    @include standard-grid;
  }

  &__photo{
    border: 1px solid var(--primary);
    cursor: pointer;

    img{
      width: 100%;
    }
  }
}