.ReloadPrompt {
  &-container {
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
  }

  &-toast {
    @include notification-prompt;

    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px;
    padding: 12px;
    border: 1px solid #8885;
    z-index: 1;
    text-align: left;

    &-message {
      line-height: 1.3rem;
      margin-bottom: 8px;
    }

    &-button {
      height: fit-content;
      border: 1px solid;
      outline: none;
      margin-right: 5px;
      border-radius: 6px;
      padding: 7px 10px;
      background-color: white;
    }
  }
}
