.pokemon-detail{
  width: 100%;
  max-width: var(--maxwidth);
  padding: 0 12px;
  margin: 0 auto;

  &__background{
    background: var(--detail-background);
    height: 130px;
    position: relative;
  }

  &__picture{
    position: absolute;
    bottom: 0;
    left: 12px;
    border: 2px solid;
    border-radius: 50%;
    transform: translateY(50%);
    background-color: white;
    display: grid;
    place-content: center;
    img{
      width: 82px;
    }
  }

  &__head{
    width: 100%;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  ul{
    @include reset-list;
  }

  &__cta{
    @include reset-button;
    border: 2px solid rgba(0,0,0,0.25);
    border-radius: 9px;
    padding: 3px 6px;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 15px;
    margin-left: 5px;
  }

  &__title{
    padding-top: 10px;
    h2{
      text-transform: capitalize;
    }
  }
}