.header{
  width: 100%;
  padding: 12px;
  letter-spacing: 0.5px;
  background-color: white;
  position: fixed;
  box-shadow: var(--shadow);
  z-index: 2;
  
  &__form{
    padding: 3px;
    border-radius: 9px;
    border: 1px solid var(--primary);
    display: none;
    align-items: center;
    label{
      display: flex;
      align-items: flex-end;
    }

    input{
      border: none;
      outline: none;
      font-size: 0.9rem;
    }

    img{
      width: 20px;
    }
  }

  &__title{
    color: var(--primary)
  }

  &__logo{
    width: 30px;
    margin-right: 5px;
  }
  
  &__branding{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
  }

  &__wrapper{
    width: inherit;
    max-width: var(--maxwidth);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  button{
    width: 25px;
    height: 25px;
    display: grid;
    place-content: center;
    border: none;
    background-color: transparent;
    margin: 0 2px;

    img{
      width: inherit;
    }
  }

  &__buttons{
    display: flex;
  }

  &__sidebar{
    position: absolute;
    right: 0;
    top: 100%;
    width: 200px;
    height: 100vh;
    background-color: rgba(255,255,255,1);
    box-shadow: var(--shadow);
    padding: 9px;
    transform: translateX(100%);
    transition: transform 0.5s;
  }

  &__sidebar.visible{
    transform: translateX(0);
  }

  @media screen and (min-width: 900px){
    &__sidebar{
      display: none;
    }

    &__buttons{
      display: none;
    }

    &__form{
      display: flex;
    }
  }
}