.detail-carousel{
  @include detail-section;

  & > .guides{
    display: none;
  }

  &__slider{
    display: none;
    align-items: center;
    justify-content: center;
    
    button{
      @include reset-button;
      font-size: 2rem;
      background-color: var(--contrast-color-bg);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      padding-bottom: 4px;
      cursor: pointer;
    }
    
    button:hover{
      background-color: var(--contrast-color);
    }
  }

  & &__list{
    @include scrolling;

    width: 100%;
    max-width: 380px;
    display: grid;
    gap: 15px;
    place-content: start;
    margin: 0 auto;
    padding: 9px;
  }

  &__head{
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2{
      text-transform: capitalize;
    }

    a{
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 600;
      text-decoration: none;
    }

    a:hover{
      text-decoration: underline;
    }
  }

  &__container{
    display: flex;
    padding: 10px;

    li{
      box-shadow: var(--shadow);
    }

    img{
      width: 100%;
    }
  }

  @media screen and (min-width: 480px){
    & > .guides{
      display: flex;
    }

    &__slider{
      display: flex;
    }

    &__container{
      display: grid;
      grid-template-columns: auto 380px auto;
    }

    & &__list{
      overflow-x: scroll;
      overscroll-behavior-x: none;
      scroll-snap-type: none;
      gap: 0;
      padding: 0;
      box-shadow: var(--shadow);

      li{
        box-shadow: none;
      }
    }
  }
}