.sidebar{
  min-width: 120px;

  ul{
    list-style: none;
    position: fixed;
  }

  li{
    padding: 8px 10px;

    a{
      text-decoration: none;
      letter-spacing: 0.5px;
      font-size: 1.1rem;
      color: var(--primary);
    }
  }

  li.active{
    box-shadow: -3px 0 0px 0px var(--contrast-color);
    font-weight: bold;
    // background-color: var(--contrast-color-bg);
  }
}