.sidebar{
  min-width: 150px;

  ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    position: fixed;
    padding: 20px 0;
  }

  &__item{
    padding: 8px 10px;

    a{
      text-decoration: none;
      letter-spacing: 0.5px;
      font-size: 1.1rem;
      color: var(--primary);
    }

    &--detail{
      font-size: 1rem;
      letter-spacing: 0.5px;
      padding: 5px 0 5px 15px;
      font-weight: 500;
      text-transform: capitalize;

      span{
        color: var(--contrast-color);
        padding-bottom: 3px;
        font-size: 1.2rem;
        margin-right: 3px;
        display: inline-block;
      }
    }
  }

  li.active{
    box-shadow: -3px 0 0px 0px var(--contrast-color);
    font-weight: bold;
  }
}