.pokemon-picture {
  &.standard{
    background-color: white;
    display: grid;
    place-content: center;
    margin: 5px auto;
    transition: opacity 0.5s;
    img{
      transition: transform 0.5s;
    }
  }

  &.profile{
    position: absolute;
    bottom: 0;
    left: 12px;
    border: 2px solid;
    border-radius: 50%;
    transform: translateY(50%);
    background-color: white;
    display: grid;
    place-content: center;

    img{
      max-width: 100%;
    }
  }
}