.detail-carousel{
  @include detail-section;

  & &__list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 95%);
    gap: 15px;
    place-content: start;
  }

  &__head{
    display: flex;
    align-items: center;
    justify-content: space-between;

    a{
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 600;
      text-decoration: none;
    }

    a:hover{
      text-decoration: underline;
    }
  }

  &__container{
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    padding: 10px;

    &::-webkit-scrollbar{
      display: none;
    }

    li{
      scroll-snap-align: center;
      box-shadow: var(--shadow);
      // margin: 0 10px;
    }

    img{
      width: 100%;
    }
  }

  @media screen and (min-width: 460px){
    & &__list{
      grid-template-columns: repeat(4, 65%);
    }
  }

  @media screen and (min-width: 580px){
    & &__list{
      grid-template-columns: repeat(4, 47%);
    }
  }
}