.detail-carousel{
  @include detail-section;

  & &__list{
    @include scrolling;

    width: 100%;
    max-width: 380px;
    display: grid;
    gap: 15px;
    place-content: start;
    margin: 0 auto;
    padding: 9px;
  }

  &__head{
    display: flex;
    align-items: center;
    justify-content: space-between;

    a{
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 600;
      text-decoration: none;
    }

    a:hover{
      text-decoration: underline;
    }
  }

  &__container{
    padding: 10px;

    li{
      box-shadow: var(--shadow);
    }

    img{
      width: 100%;
    }
  }
}