.ability{
  &__wrapper {
    @include subpage-wrapper;
  }

  &__title {
    @include subpage-title;
  }

  &__effect {
    border: 1px solid var(--primary);
    padding: 9px;
    margin-bottom: 10px;

    &--title, &--subtitle{
      font-weight: 500;
      letter-spacing: 0.5px;
      margin-bottom: 5px;
      font-size: 1.3rem;
    }

    p{
      letter-spacing: 0.5px;
      line-height: 1.25rem;
      font-size: 1.1rem;
    }

    hr{
      margin: 10px 0;
    }
  }
}