:root{
  --maxwidth: 1200px;
  --shadow: 0 2px 6px rgba(0,0,0,0.25);
  --detail-background: linear-gradient(101.67deg, #C50DC9 12.6%, #7A55C9 52.44%, #0D91C9 85.28%);
  --primary: #808080;
  --contrast-color: hsl(0deg 90% 50%);
  --contrast-color-bg: hsl(10deg 100% 50% / 30%);
  --grid-percent: 95%;
  --static-skeleton: linear-gradient(25deg, rgba(250,250,250,1), rgba(200, 199, 199));

  @media screen and (min-width: 480px){
    --grid-percent: 100%;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.page{
  padding-top: 75px;
  padding-bottom: 20px;
  width: 90%;
  max-width: var(--maxwidth);
  margin: 0 auto;

  .sidebar{
    display: none;
  }

  @media screen and (min-width: 900px){
    display: flex;

    .sidebar{
      display: initial;
    }
  }
}

@mixin standard-grid{
  width: 100%;
  display: grid;
  grid-template-columns: minmax(230px, 1fr);
  place-content: center;
  column-gap: 10px;
  row-gap: 15px;

  @media screen and (min-width: 520px){
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
  }
  
  @media screen and (min-width: 750px){
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
  
  @media screen and (min-width: 1215px){
    grid-template-columns: repeat(4, 1fr);
  }
}

@mixin reset-button{
  border: none;
  background-color: transparent;
}

@mixin reset-list{
  display: flex;
  list-style: none;
}

@mixin skeleton {
  background: linear-gradient(90deg, rgba(250,250,250,1), rgba(200, 199, 199));
  background-size: 400% 400%;
  animation: loadingAnimation 3s ease-in-out infinite;
}

@mixin detail-section{
  padding-top: 20px;
  h2{
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
  }
}

@mixin scrolling {
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;

  &::-webkit-scrollbar{
    display: none;
  }

  & > *{
    scroll-snap-align: center;
  }
}

@mixin nice-scrollbar {
  &::-webkit-scrollbar{
    width: 7px;
    background-color: white;
    border-radius: 9px;
  }

  &::-webkit-scrollbar-thumb{
    background-color: var(--contrast-color);
    border-radius: 9px;
    opacity: 0.5;
  }
}

@keyframes loadingAnimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

@import './components/Pokemon/Pokemon.scss';
@import './components/PokemonLoader/PokemonLoader.scss';
@import './components/Header/Header.scss';
@import './components/Dropdown/Dropdown.scss';
@import './components/Media/Media.scss';
@import './components/Tags/Tags.scss';
@import './components/PokemonPicture/PokemonPicture.scss';
@import './components/Sidebar/Sidebar.scss';
@import './components/Switch/Switch.scss';
@import './components/SearchField/SearchField.scss';
@import './components/Carousel/Carousel.scss';
@import './components/CarouselGuides/CarouselGuides.scss';
@import './components/Album/Album.scss';

@import './containers/Pokemons/Pokemons.scss';
@import './containers/Photos/Photos.scss';

@import './pages/Home/Home.scss';
@import './pages/PokemonDetail/PokemonDetail.scss';
@import './pages/PokemonDetail/Section/Section.scss';
@import './pages/PokemonPhotos/PokemonPhotos.scss';

@import './skeletons/Pokemon/Pokemon.scss';
@import './skeletons/PokemonDetailSk/PokemonDetailSk.scss';