:root{
  --maxwidth: 1200px;
  --shadow: 0 2px 6px rgba(0,0,0,0.25);
  --detail-background: linear-gradient(101.67deg, #C50DC9 12.6%, #7A55C9 52.44%, #0D91C9 85.28%);
  --primary: #808080;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@mixin reset-button{
  border: none;
  background-color: transparent;
}

@mixin reset-list{
  display: flex;
  list-style: none;
}

@mixin skeleton {
  background: linear-gradient(90deg, rgba(250,250,250,1), rgba(200, 199, 199));
  background-size: 400% 400%;
  animation: loadingAnimation 3s ease-in-out infinite;
}

@mixin detail-section{
  padding-top: 20px;
  h2{
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
  }
}

@keyframes loadingAnimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

@import './components/Pokemon/Pokemon.scss';
@import './components/PokemonLoader/PokemonLoader.scss';
@import './components/Header/Header.scss';
@import './components/Dropdown/Dropdown.scss';
@import './components/Media/Media.scss';
@import './components/Tags/Tags.scss';
@import './components/PokemonPicture/PokemonPicture.scss';
@import './components/Sidebar/Sidebar.scss';

@import './containers/Pokemons/Pokemons.scss';

@import './pages/Home/Home.scss';
@import './pages/PokemonDetail/PokemonDetail.scss';
@import './pages/PokemonDetail/Section/Section.scss';
@import './pages/PokemonDetail/Carousel/Carousel.scss';

@import './skeletons/Pokemon/Pokemon.scss';