.search-field{
  padding: 3px;
  border-radius: 9px;
  border: 1px solid var(--primary);
  display: flex;
  align-items: center;
  label{
    display: flex;
    align-items: flex-end;
  }
  
  input{
    border: none;
    outline: none;
    font-size: 0.9rem;
  }
  
  img{
    width: 20px;
  }

  &.active{
    box-shadow: -1px -1px 1rem 100rem rgba(0,0,0,0.5);
  }
}

// &__form{
// }