.search-field{
  position: relative;
  padding: 3px;
  border-radius: 9px;
  border: 1px solid var(--primary);
  display: flex;
  align-items: center;
  background-color: white;

  &__dropdown{
    @include nice-scrollbar;
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    z-index: 0;
    max-height: 50vh;
    overflow-x: auto;

    a{
      text-decoration: none;
      color: var(--primary);
      letter-spacing: 1px;
      font-size: 15px;
      text-transform: capitalize;
    }

    li{
      background-color: white;
      width: inherit;
      padding: 12px 9px;
    }
  }

  label{
    display: flex;
    align-items: flex-end;
    margin-right: 4px;
  }
  
  input{
    border: none;
    outline: none;
    font-size: 1rem;
    min-width: 200px;
    padding: 9px 0;
  }
  
  img{
    width: 20px;
  }

  &.active{
    box-shadow: -1px -1px 1rem 100rem rgba(0,0,0,0.5);
  }

  @media screen and (min-width: 900px){
    input{
      padding: 3px 0;
    }
  }
}
